.flashcard{
    position: relative;
    width: 70%;
    height: 350px;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    /* background-color: coral; */
}
.mainCard{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flipped{
    transform: rotateX(180deg);
}

.front,
.back{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back{
    transform: rotateX(180deg);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.btn{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.input{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.countCorrectAnswer{
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* for the blinking of the input box */
.error-border {
    animation: blink-border 2s;
  }

  @keyframes blink-border {
    0% { border-color: red; }
    50% { border-color: transparent; }
    100% { border-color: red; }
  }